body{
    background-color: lightgray;
    color: black;
    font-weight: 900;

    
    
}
.position{
    
    color: rebeccapurple;
    margin-left: 100px;
}
#buttn{
    margin-left: 700px;
    background-color: black;
    color: whitesmoke;
    position: sticky;
    top: 0px;
    
}


#question{
    
    margin-left: 100px;
    
}
.required{
    margin-top: 30px;
    margin-left: 550px;
    font-weight: bold;
    font-style: italic;
    color: black;
    
    
}

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
#index{
    background-color: lightgray;
}
.linking{
    position: relative;
    top: 0px;
font-weight: bolder;
align-items: center;
margin-left: 500px;
margin-top: 300px;
font-size: xx-large;
font-style: italic;
}
.buton{
    font-style: italic;
    font-size: xx-large;
    background-color: black;
    color: white;
}