body{
    background-color: whitesmoke;
    color: black;
    font-weight: 900;
    
    
}
.position{
    position: sticky;
    top: 0px;
    color: rebeccapurple;
    margin-left: 100px;

}
#question{
    
    margin-left: 100px
}
